{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
	{% for post in posts %}
	<ul>
	   <li>
	       <p>{{ post.title }}</p>
	   </li>
	   <li>
	       <p>{{ post.content }}</p>
	   </li>
	   <li>
	       <p>{{ post.author.username }}</p>
	   </li>
	   <li>
	       <p>{{ post.createdAt|date('Y-m-d') }}</p>
	   </li>
	   <li>
	       <a href="{{ path('BlogBundle_post_single', {'id': post.id }) }}">En savoir plus</a>
	   </li>
	</ul>
	{% endfor %}
{% endblock %}